$font-color: #000;
$body-bg-color: #e0edf3;
$hover-font-color: #8DB5C7;
$font-color-body-text: #0F3648;
$list: (red, blue, green, orange);
$header-bg-color: #3F5058;
$header-color: #fff;
$nav-bg-color: #B8C3C8;