{% extends "base.html.twig" %}

{% block title %}Home{% endblock %}

{% block body %}

<div id="me-text-box">
    <h1 id="title">MVC</h1>
    <p id="text">MVC även känt som model view controller är design för katalogen där vi delar upp de olika delarna av koden i tre olika delar, model, view och controller som alla hanterar olika delar. Här är <a href="https://github.com/dbwebb-se/mvc">kursrepot</a> och här är mitt <a href="https://github.com/AdrianPlaza/mvc">repo</a></p>
    <img src="{{ asset('img/mvc.png') }}" alt="angry_cat" width="350">

</div>
{% endblock %}