{% extends "base.html.twig" %}

{% block title %}Home{% endblock %}

{% block body %}

<div id="me-text-box">
    <h1 id="title">Om mig</h1>
    <p id="text">Jag heter Adrian och bor i Lyckeby, jag gick tidigare på teknik programmet inne på Ehrensvärdska gymnasiet och tyckte att kursen webbutveckling var kul. Detta har lett till att jag valde webbprogrammering här på bth. Min största hobby är att spela datorspel</p>
    <img src="{{ asset('img/angy_cat.png') }}" alt="angry_cat" width="200">
</div>
{% endblock %}