{% extends "base.html.twig" %}

{% block title %}Home{% endblock %}

{% block body %}

<div id="me-text-box">
    <h1 id="title">Rapporter</h1>
    <h2 class="title-small" id="kmom01">kmom01</h2>
    <p id="text">Skriv här</p>
    <h2 class="title-small" id="kmom02">kmom02</h2>
    <p id="text">Skriv här</p>
    <h2 class="title-small" id="kmom03">kmom03</h2>
    <p id="text">Skriv här</p>
    <h2 class="title-small" id="kmom04">kmom04</h2>
    <p id="text">Skriv här</p>
    <h2 class="title-small" id="kmom05">kmom05</h2>
    <p id="text">Skriv här</p>
    <h2 class="title-small" id="kmom06">kmom06</h2>
    <p id="text">Skriv här</p>
    <h2 class="title-small" id="kmom07">kmom07-10</h2>
    <p id="text">Skriv här</p>
</div>
{% endblock %}