{% extends "base.html.twig" %}

{% block title %}Home{% endblock %}

{% block body %}

<div id="me-text-box">
    <h1 id="title">Rapporter</h1>
    <h2 class="title-small" id="kmom01">kmom01</h2>
    <p id="text">Detta kursmomentet var inte så svårt när det kom till just objektorienteringen då jag nyss gjorde färdigt objekorienterade python kursen. Jag kan redan grunderna av klasser som metoder, attribut, arv och annat liknande så det var inte så svårt att börja göra controller delen. Dock så var det inte så likt det jag gjorde i python då detta kändes mer simpelt då jag egentligen hade ett "blueprint" på hur jag skulle göra från övningen.</p>
    <p id="text">Det kändes lite överväldigande när jag först såg själva strukturen av katalogen i övningen men jag började förstå mig på det bättre desto mer jag jobbade igenom övningen. Det påminde också mig om strukturen jag hade i design kursen i pico då det hade en liknande struktur och jag använde också mig av twig och sass för att göra sidorna i design. Själva sass delen är uppdelad i tre olika filer. Den första är app.css vilket är själva filen som får all sass kod inmatad, sen finns det input.scss och variables.scss. Input.scss har själva css:n och variables.scss har alla färg variablerna så att man bara behöver gå in i variables och ändra färgen på ett ställe istället för att ändra på flertal ställen input.scss.</p>
    <p id="text">Sen "PHP The Right Way" har jag tyvärr inte läst igenom hela artikeln då den är väldigt lång. Jag läste en bit av den sen började jag bara med övningen istället så jag kommer inte riktigt ihåg vad jag läste. Dock så vill jag läsa delen angående "exceptions" och "errors" för att kunna fånga fel och sådant samt skulle jag vilja läsa lite mer om "design patterns".</p>
    <p id="text">Dock min TIL måste vara själva konceptet av mvc. Jag hade ingen aning hur model view controller faktiskt fungerade innan jag läste upp om det och tittade på videor kring det. Det känns som att själva mvc strukturen är att väldigt bra och organiserat sätt att hantera sin kod. </p>
    <p id="text">Efter att jag är färdig med det känns det dock som att kursmomentet var en liten bit för långt, jag tycker personligen inte att "JSON API" behövde vara där dock så hade jag inget problem med git delen då vi använde det i design kursen också.</p>
    <h2 class="title-small" id="kmom02">kmom02</h2>
    <p id="text">Skriv här</p>
    <h2 class="title-small" id="kmom03">kmom03</h2>
    <p id="text">Skriv här</p>
    <h2 class="title-small" id="kmom04">kmom04</h2>
    <p id="text">Skriv här</p>
    <h2 class="title-small" id="kmom05">kmom05</h2>
    <p id="text">Skriv här</p>
    <h2 class="title-small" id="kmom06">kmom06</h2>
    <p id="text">Skriv här</p>
    <h2 class="title-small" id="kmom07">kmom07-10</h2>
    <p id="text">Skriv här</p>
</div>
{% endblock %}